* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #151618;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 65px;
  font-weight: 400;
  font-size: 18px;
}
.nav-item {
  padding-top: 87px;
  padding-bottom: 87px;
}

.nav-list-search {
  display: flex;
  gap: 20px;
}

.nav-saerch-item:nth-child(3) {
  margin-left: 100px;
}
