* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #151618;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
img {
  display: block;
}
blockquote {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 142px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo-link {
  padding-bottom: 35px;
}

.nav-list {
  display: flex;
  gap: 65px;
  font-weight: 400;
  font-size: 18px;
}
.nav-item {
}

.nav-list-search {
  display: flex;
  gap: 20px;
}

.nav-saerch-item:nth-child(3) {
  margin-left: 100px;
}

/* ========================================================================================================================================================
main-section
======================================================================================================================================================== */

.main-section {
  max-width: 1599px;
  min-height: 500px;
  margin: 0 auto;
  background-image: url(../image/main-bg.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-title {
  max-width: 790px;
  margin-left: 0;

  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  color: #fff;
}

.main-text {
  max-width: 558px;
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;

  margin: 20px 0 48px;
}

/* ========================================================================================================================================================
quote
======================================================================================================================================================== */

.quote {
  display: flex;
  font-family: "Cormorant", sans-serif;
  max-width: 720px;
  margin: 150px auto;

  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  color: #151618;
}

/* ========================================================================================================================================================
collection
======================================================================================================================================================== */
.collection {
  min-height: 355px;
  margin-bottom: 150px;
}
.collection-subtitle {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.collection-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 40px;
  /* margin-bottom: 150px; */
}

.collection-item {
  width: 208px;
  height: 247px;
}

/* ========================================================================================================================================================
rewievs
======================================================================================================================================================== */

.rewievs {
  padding: 60px 0;
  background: #f7f2ea;
  /* opacity: 0.5; */
}

.rewievs-list {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}
.rewievs-item {
  max-width: 280px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}

.rewievs-name {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
